
#title, #cta{
  background-color: #ff4c68;
}
.head{
  font-size: 60px;
  line-height: 1.5;
  font-weight: 700;
}
.brand{
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.brand:hover, .nav a:hover{
  color: white;
  text-decoration: none;
}
.nav{
  padding-top: 40px;
}
.link{
  color: white;
  padding-top: 10px;
  margin-right: 50px;
}
 .container-fluid{
  padding: 0% 14%;
}
i{
  width: 30px;
  height: 30px;
}
.title{
  margin-top: 80px;
  color: white;
}
.image1{
  rotate: 20deg;
  margin-top: 100px;
}

.feature{
  padding: 7% 3%;
  text-align: center;
}
#features i{
  color: rgb(239, 129, 114);
  font-size: 80px;
  margin-right: 40px;
}

#features i:hover{
  color: rgb(255, 76, 104);
}

#testimonials, #press{
  background-color: rgb(239, 129, 114);
  text-align: center;
  width: 100%;
}
#testimonials{
  padding: 6%;
}
.testimony h2{
  font-size: 200%;
  text-align: center;
}
.testimony{
  text-align: center;
  color: white;
  margin-top: 20px;
}
.testimony img{
  border-radius: 40rem;
  width: 10%;
  margin-right: 30px;
}

#press{
  padding: 4%;
}
#press img{
  width: 15%;
  margin: 20px
}

#pricing{
  text-align: center;
  padding: 90px 0px;
}
#pricing button{
  width: 200px;
}

#cta{
  padding: 90px 60px;
  font-size: 55px;
  color: white;
  font-family: "monserrat-black";
  font-weight: 600;
  text-align: center;
}
#cta button{
  font-size: 20px;
}

footer{
  padding: 90px 20%;
  text-align: center;
}
footer i{
  color: black;
}

/* Google Font  */

/* ubuntu google font  */
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* monserrat google font  */

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
}

/* End of google font  */